button {
  padding: 5px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: whitesmoke;
  background-color: #333438;
  border: none;
  }

button:active {
  background-color: #fffdfd;
}

button:hover {
  background-color: #646363;
}

body {
  height: 150px;
  width: fit-content;
  background-color: #333438;
  outline: 2px;
}