button {
  padding: 5px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: whitesmoke;
  background-color: #333438;
  border: none;
  }
  
button:hover {
  background-color: #646363;
}

button:active {
  background-color: #747474;
}

body {
  height: 150px;
  width: 190px;
  background-color: #333438;
  outline: 2px;
}